[package]
name = "raw-ipa"
version = "0.1.0"
rust-version = "1.64.0"
edition = "2021"

[features]
default = ["debug", "cli"]
cli = ["comfy-table", "clap", "enable-serde", "metrics-tracing-context", "metrics-util", "tracing-subscriber", "web-app"]
debug = ["hex"]
enable-serde = ["serde", "serde_json"]
web-app = ["tokio", "tokio-stream", "tokio-util", "axum", "axum-server", "hyper", "hyper-tls", "tower", "tower-http"]
self-signed-certs = ["hyper-tls"]
test-fixture = []

[dependencies]
aes = "0.8"
async-trait = "0.1.57"
axum = { version = "0.5.16", optional = true, features = ["http2"] }
axum-server = { version = "0.4.2", optional = true, features = ["rustls", "rustls-pemfile", "tls-rustls"] }
byteorder = "1.4.3"
clap = { version = "4.0.10", optional = true, features = ["derive"] }
comfy-table = { version = "6.0.0", optional = true }
embed-doc-image = "0.1.4"
futures = "0.3.24"
futures-util = "0.3.24"
hex = { version = "0.4", optional = true }
hkdf = "0.12.3"
hyper = { version = "0.14.20", optional = true, features = ["client", "h2"] }
hyper-tls = { version = "0.5.0", optional = true }
metrics = "0.20.1"
metrics-tracing-context = { version = "0.12.0", optional = true }
metrics-util = { version = "0.14.0", optional = true }
permutation = "0.4.1"
pin-project = "1.0.12"
rand = "0.8"
rand_chacha = "0.3.1"
rand_core = "0.6"

# TODO consider using zerocopy or serde_bytes or in-house serialization
serde = { version = "1.0", optional = true, features = ["derive"] }
serde_json = { version = "1.0", optional = true }
sha2 = "0.10.6"
thiserror = "1.0"
tokio = { version = "1.21.2", optional = true, features = ["rt", "rt-multi-thread", "macros"] }
tokio-stream = { version = "0.1.10", optional = true }
tokio-util = { version = "0.7.4", optional = true }
tower = { version = "0.4.13", optional = true }
tower-http = { version = "0.3.4", optional = true, features = ["trace"] }
# disable debug traces and below for release builds and keep everything for debug build
tracing = { version = "0.1.37", features = ["max_level_trace", "release_max_level_info"] }
tracing-subscriber = { version = "0.3.16", optional = true, features = ["env-filter"] }
x25519-dalek = { version = "2.0.0-pre.1", features = ["serde"] }

[dev-dependencies]
criterion = { version = "0.4.0", default-features = false, features = ["async_tokio", "plotters", "html_reports"] }
hex = "0.4"
iai = "0.1.1"
proptest = "1.0.0"

[lib]
name = "raw_ipa"
path = "src/lib.rs"
bench = false

[[bin]]
name = "helper"
required-features = ["cli"]
bench = false

[[bin]]
name = "ipa_bench"
path = "src/bin/ipa_bench/ipa_bench.rs"
required-features = ["cli"]
bench = false

[[bin]]
name = "test_mpc"
required-features = ["cli"]
bench = false

[profile.bench]
debug = true

[[bench]]
name = "criterion_arithmetic"
path = "benches/ct/arithmetic_circuit.rs"
harness = false
required-features = ["test-fixture"]

[[bench]]
name = "iai_arithmetic"
path = "benches/iai/arithmetic_circuit.rs"
harness = false
required-features = ["test-fixture"]

[[bench]]
name = "oneshot_arithmetic"
path = "benches/oneshot/arithmetic_circuit.rs"
harness = false
required-features = ["test-fixture"]
