[package]
name = "raw-ipa"
version = "0.1.0"
rust-version = "1.64.0"
edition = "2021"

[features]
# by default remove all TRACE, DEBUG spans from release builds
default = ["web-app", "tracing/max_level_trace", "tracing/release_max_level_info"]
cli = ["comfy-table", "clap"]
enable-serde = ["serde", "serde_json"]
protocol-perf-testing = ["no-prss"]
no-prss = []
# TODO move web-app to a separate crate. It adds a lot of build time to people who mostly write protocols
# TODO Consider moving out benches as well
web-app = ["axum", "axum-server", "enable-serde", "hex", "hyper", "hyper-tls", "tower", "tower-http"]
self-signed-certs = ["hyper-tls"]
test-fixture = []
shuttle = ["shuttle-crate", "test-fixture"]
debug-trace = ["tracing/max_level_trace", "tracing/release_max_level_debug"]
enable-benches = ["cli", "test-fixture", "criterion", "iai"]

[dependencies]
aes = "0.8"
async-trait = "0.1.57"
axum = { version = "0.5.16", optional = true, features = ["http2"] }
axum-server = { version = "0.4.2", optional = true, features = ["rustls", "rustls-pemfile", "tls-rustls"] }
bitvec = "1.0.1"
clap = { version = "4.0.10", optional = true, features = ["derive"] }
comfy-table = { version = "6.0.0", optional = true }
config = "0.13.2"
criterion = { version = "0.4.0", optional = true, default-features = false, features = ["async_tokio", "plotters", "html_reports"] }
embed-doc-image = "0.1.4"
futures = "0.3.24"
futures-util = "0.3.24"
generic-array = "0.14.6"
hex = { version = "0.4", optional = true, features = ["serde"] }
hkdf = "0.12.3"
hyper = { version = "0.14.20", optional = true, features = ["client", "h2"] }
hyper-tls = { version = "0.5.0", optional = true }
iai = { version = "0.1.1", optional = true }
metrics = "0.20.1"
metrics-tracing-context = "0.12.0"
metrics-util = { version = "0.14.0" }
once_cell = "1.16.0"
pin-project = "1.0.12"
rand = "0.8"
rand_core = "0.6"

# TODO consider using zerocopy or serde_bytes or in-house serialization
serde = { version = "1.0", optional = true, features = ["derive"] }
serde_json = { version = "1.0", optional = true }
sha2 = "0.10.6"
shuttle-crate = { package = "shuttle", version = "0.5", optional = true }
thiserror = "1.0"
tinyvec = "1.6.0"
tokio = { version = "1.21.2", features = ["rt", "rt-multi-thread", "macros"] }
tokio-stream = "0.1.10"
tokio-util = "0.7.4"
tower = { version = "0.4.13", optional = true }
tower-http = { version = "0.3.4", optional = true, features = ["trace"] }
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.16", features = ["env-filter"] }
typenum = "1.16.0"
x25519-dalek = "2.0.0-pre.1"

[dev-dependencies]
permutation = "0.4.1"
proptest = "1.0.0"

[profile.bench]
debug-assertions = true

[lib]
name = "raw_ipa"
path = "src/lib.rs"
bench = false

[[bin]]
name = "helper"
required-features = ["cli", "web-app"]
bench = false

[[bin]]
name = "ipa_bench"
path = "src/bin/ipa_bench/ipa_bench.rs"
required-features = ["cli", "enable-serde"]
bench = false

[[bin]]
name = "test_mpc"
required-features = ["cli"]
bench = false

[[bench]]
name = "criterion_arithmetic"
path = "benches/ct/arithmetic_circuit.rs"
harness = false
required-features = ["enable-benches"]

[[bench]]
name = "iai_arithmetic"
path = "benches/iai/arithmetic_circuit.rs"
harness = false
required-features = ["enable-benches"]

[[bench]]
name = "oneshot_arithmetic"
path = "benches/oneshot/arithmetic_circuit.rs"
harness = false
required-features = ["enable-benches"]

[[bench]]
name = "oneshot_sort"
path = "benches/oneshot/sort.rs"
harness = false
required-features = ["enable-benches"]

[[bench]]
name = "oneshot_ipa"
path = "benches/oneshot/ipa.rs"
harness = false
required-features = ["enable-benches"]
