name: CI
on: [push, pull_request]
jobs:
  rust-check:
    name: Rust Checks
    env:
      CARGO_TERM_COLOR: always
      RUSTFLAGS: -D warnings
      RUSTDOCFLAGS: -D warnings

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy,rustfmt

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.toml') }}

      - name: Check formatting
        run: cargo fmt --all -- --check

      - name: Clippy
        if: ${{ success() || failure() }}
        run: cargo clippy --tests

      - name: Clippy concurrency tests
        if: ${{ success() || failure() }}
        run: cargo clippy --tests --features shuttle

      - name: Build
        if: ${{ success() || failure() }}
        run: cargo build --tests

      - name: Release Build
        run: cargo build --release

      - name: Build benchmarks
        run: cargo build --benches --all-features

      - name: Build concurrency tests
        run: cargo build --features shuttle

      - name: Run Tests
        run: cargo test

# Uncomment once infra bugs are fixed: https://github.com/private-attribution/ipa/issues/256
#      - name: Run concurrency tests
#        run: cargo test --features shuttle
