name: CI
on:
  push:
    paths:
      - "**/Cargo.toml"
      - "**/Cargo.lock"
      - "ipa-*/src/**/*"
      - "ipa-core/benches/**/*"
      - "ipa-core/tests/**/*"
  pull_request:
    paths:
      - "**/Cargo.toml"
      - "**/Cargo.lock"
      - "ipa-*/src/**/*"
      - "ipa-core/benches/**/*"
      - "ipa-core/tests/**/*"
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: -D warnings
  RUSTDOCFLAGS: -D warnings

jobs:
  basic:
    name: Basic Checks
    env:
      CARGO_INCREMENTAL: 0
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/rm

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy,rustfmt

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.toml') }}

      - name: Check formatting
        run: cargo fmt --all --features basic -- --check --config "imports_granularity=Crate,group_imports=StdExternalCrate"

      - name: Clippy
        if: ${{ success() || failure() }}
        run: cargo clippy --tests --features basic

      - name: Clippy concurrency tests
        if: ${{ success() || failure() }}
        run: cargo clippy --tests --features "basic shuttle"

      - name: Build
        if: ${{ success() || failure() }}
        run: cargo build --tests --features basic

      - name: Run Tests
        run: cargo test --features basic

      - name: Run Web Tests
        run: cargo test --features "helper ipa-core/descriptive-gate integration-test"

  release:
    name: Release builds and tests
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: -C target-cpu=native
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/rm

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy,rustfmt

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.toml') }}

      - name: Release Build
        run: cargo build --release --features basic

      - name: Build concurrency tests
        run: cargo build --release --features "basic shuttle"

      - name: Run concurrency tests
        run: cargo test --release --features "basic shuttle"

  extra:
    name: Additional Builds and Concurrency Tests
    env:
      RUSTFLAGS: -D warnings -C target-cpu=native

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/rm

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy,rustfmt

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.toml') }}

      - name: Build benchmarks
        run: cargo build --benches --features "enable-benches descriptive-gate"

      - name: Build concurrency tests (debug mode)
        run: cargo build --features "basic shuttle"

      - name: Run IPA bench
        run: cargo bench --bench oneshot_ipa --features "enable-benches descriptive-gate"

      - name: Run arithmetic bench
        run: cargo bench --bench oneshot_arithmetic --features "enable-benches descriptive-gate"

      - name: Run compact gate tests
        run: cargo test --features "helper ipa-core/compact-gate integration-test"

  # sanitizers currently require nightly https://github.com/rust-lang/rust/issues/39699
  sanitize:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        sanitizer: [address, leak]
    env:
      TARGET: x86_64-unknown-linux-gnu
    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@nightly
      - name: Add Rust sources
        run: rustup component add rust-src
      - name: Run tests with sanitizer
        run: RUSTFLAGS="-Z sanitizer=${{ matrix.sanitizer }} -Z sanitizer-memory-track-origins" cargo test -Z build-std --target $TARGET --features "helper ipa-core/descriptive-gate integration-test"
