name: Publish Helper Image CI

on:
  workflow_dispatch:
  schedule:
    # Once monthly at a randomly selected time.
    - cron: "24 2 3,18 * *"
  push:
    branches:
      - main
    paths:
      - "docker/ci/**"
      - ".github/workflows/docker.yml"
      - "**/Cargo.toml"
      - "**/Cargo.lock"
      - "ipa-*/src/**/*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: "Checkout"
      uses: actions/checkout@v4

    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: |
          name/app
        tags: |
          type=ref,event=branch
          type=ref,event=pr
          type=sha

    - name: "Setup Docker Buildx"
      uses: docker/setup-buildx-action@v2

    - name: "Login to GitHub Container Registry"
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: "Build and Publish Helper Image"
      uses: docker/build-push-action@v4
      with:
        context: .
        file: ./docker/ci/helper.Dockerfile
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        platforms: linux/amd64
